body{
    background-color: white;
    margin: 0px auto;
    width: 1000px;
    height: 700px;
    margin-top: 20px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float:  left;
}


div{
    color: black;
    display: inline-block;
    width: 1000px;
    border-top:  2px solid  black;
    border-bottom: 2px solid black;
}

div p{
    float: left;
    margin-left: 10%;
}


section{
    display: inline-block;
    width: 1000px;
    border-top:  2px solid  black;
    border-bottom: 2px solid black;
}

article{
    float: left;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 2%;
    border: 1px solid black;
}


button{
    float: right;
    position: fixed;
    left: 1300px;
    top: 20px;
    height: 705px;
    background-color: #314853;
}

form{
    display: none;
    width: 200px;
}

button:hover form{
    display: block;
}


.sectionSkill{
    width: 1000px;
    height: 195px;
    border: none;
}


.sectionSkill h2{
    text-align: center;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    border: none;
    margin-left: 8px;
    margin-top: 5px;
    width: 310px;
}

.line{
    border-radius: 20px;
	width: 300px;
	height: 10px;
    display: block;
    background-color: white;
    margin-left: 3px;
}


span{
    border-radius: 20px;
    height: 10px;
    display: block;
    background-color: #007ACC;
}

#html{
	width: 250px;
}

#css{
	width: 230px;
}

#js{
	width: 100px;
}

#jq{
	width: 80px;
}



@media print{
    button{
        display: none;
    }
}